.switch-component {
  input {
    display: none;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 32px;
    border: 2px solid #e5e5e5;
    border-radius: 20px;
    background: #e5e5e5;
    cursor: pointer;
  }

  .track {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #fff;
    transition: .2s;
  }

  input:checked+.switch {
    background-color: #4a87ee;
    border-color: #4a87ee;

    .track {
      transform: translateX(22px);
    }
  }
}
